.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    form{
        max-width: 500px;
        h3{
            text-align: center;
        }
        div{
            label{
                padding-right: 10px ;
            }
        }
        button{
            display: block;
            width: 100%;
            margin-bottom: 30px;
        }
        a{
            text-align: center;
            margin-left: 50px;
        }
    }
}