.single{
    padding-top: 100px;
    .container{
        .row{
            .right{
                padding-top: 50px;
                .single-content{
                    h3{
                        font-size: 40px;
                        line-height: 50px;
                        letter-spacing: 1px;
                        color: #444;
                        small{
                            font-size: 30px;
                            line-height: 30px;
                            font-weight: 600;
                            padding-top: 10px;
                            padding-bottom: 20px;
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #444;
                        width: 600px;
                    }
                    .single-content-actions{
                        width: 600px;
                        .price{
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}